
<!-- Formulario para iniciar sesión -->
<div class="wrapper">
  <div class="body">
    <img src="../../../assets/Imagenes/user.png" alt="">
  <h1><strong>Iniciar sesión</strong></h1>

  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div class="form-floating mb-3">
      <input class="form-control" formControlName="email" placeholder="Campo obligatorio" required>
      <label>Correo electrónico</label>
    </div>
    <div class="form-floating mb-3">
      <input class="form-control" type="password" formControlName="password" placeholder="Campo obligatorio" required>
      <label>Contraseña</label>
    </div>

    <div class="d-grid gap-2">
      <button class="btn btn-primary btn-lg" type="submit"> <strong>Ingresar</strong></button>
    </div>

    <p class="mt-3"><strong>¿No tienes una cuenta? </strong> <a routerLink="/register"> <strong>Registrate</strong></a></p>
  </form>
  </div>
</div>

