<section class="home">
    <div class="home-img">
        <img src="../../../assets/Imagenes/Blanca.jpeg" alt="">
    </div>

    <div class="home-content">
        <h1>¡Hola! Mi nombre es <span>Blanca</span>, encantada de conocerte.</h1>
        <h3 class="typing-text">Soy <span></span></h3>
        <p>Una profesional dedicada al bienestar integral, con experiencia en Constelaciones 
            Familiares, Reiki, Terapia de Liberación de Programas Ancestrales, y más. 
            Mi enfoque holístico combina técnicas energéticas y terapéuticas para promover 
            la armonía y el equilibrio en mente, cuerpo y espíritu. Además, ofrezco servicios
             de coaching, astrología y Registros Akáshicos.
            Estoy aquí para acompañarte en tu camino hacia una vida más plena y saludable.</p>
             <div class="social-icons">
                <a href="https://www.instagram.com/siankaan_1/"><i class="fi fi-brands-instagram"></i></a>
                <a href="https://wa.me/5492994233496"><i class="fi fi-brands-whatsapp"></i></a>
                <a href="https://youtube.com/@blancamata1928?si=uGuZHDjQfQs0HT1N"><i class="fi fi-brands-youtube"></i></a>
             </div>
    </div>
</section>
