
<h3>Mis productos</h3>

<div id="card-area">
    <div class="wrapper">
        <div class="box-area">

            <div class="box">
                <img src="../../../assets/Imagenes/Chakras.jpg" alt="">
                <div class="overlay">
                    <h3>Taller</h3>
                    <p>Conoce tus centros energéticos, aprende a equilibrarlos y activa tus chakras.</p>
                    <a href="https://wa.me/5492994233496">Contáctame</a>
                </div>
            </div>

            <div class="box">
                <img src="../../../assets/Imagenes/Manual para cuidar.jpeg" alt="">
                <div class="overlay">
                    <h3>Manual</h3>
                    <p>Diseñado para proteger su energía personal mediante prácticas
                        y símbolos de poder.
                    </p>
                    <a href="https://wa.me/5492994233496">Contáctame</a>
                </div>
            </div>

            <div class="box">
                <img src="../../../assets/Imagenes/Ebook.jpeg" alt="">
                <div class="overlay">
                    <h3>Taller</h3>
                    <p>Conoce las 4 dimensiones del amor.</p>
                    <a href="https://wa.me/5492994233496">Contáctame</a>
                </div>
            </div>

            <div class="box">
                <img src="../../../assets/Imagenes/spays auricos.jpeg" alt="">
                <div class="overlay">
                    <h3>Elaboración</h3>
                    <p>Conviértete en alquimista y ponte
                        en contacto con la energía de los arcángeles.</p>
                    <a href="https://wa.me/5492994233496">Contáctame</a>
                </div>
            </div>

            <div class="box">
                <img src="../../../assets/Imagenes/taller niño interior.jpeg" alt="">
                <div class="overlay">
                    <h3>Taller</h3>
                    <p>Resuelve los bloqueos emocionales sanando a tu niño interior trabajando
                        con las 5 heridas principales.
                    </p>
                    <a href="https://wa.me/5492994233496">Contáctame</a>
                </div>
            </div>

            <div class="box">
                <img src="../../../assets/Imagenes/me honro ebook.jpeg" alt="">
                <div class="overlay">
                    <h3>Ebook</h3>
                    <p>14 ejercicios prácticos de autocuidado, autoconocimiento y mucho más.</p>
                    <a href="https://wa.me/5492994233496">Contáctame</a>
                </div>
            </div>

        </div>
    </div>
</div>