
<div class="container">

    <h3>Mis productos</h3>
    <input type="radio" name="slide" id="s1">
    <input type="radio" name="slide" id="s2">
    <input type="radio" name="slide" id="s3">
    <input type="radio" name="slide" id="s4">
    <input type="radio" name="slide" id="s5">

    <div class="cards">

        <label for="s1" id="slide1">

            <div class="card">
                <div class="image">
                    <img src="../../../assets/Imagenes/Manual para cuidar.jpeg" alt="">
                    <div class="dots">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>

                <div class="infos">
                    <span class="name">Manual</span>
                    <span class="lorem">Diseñado para prácticas espirituales y símbolos de poder.</span>

                    <a href="" class="btn-contact">Contáctame</a>
                </div>
            </div>
        </label>

        <label for="s2" id="slide2">

            <div class="card">
                <div class="image">
                    <img src="../../../assets/Imagenes/Manual bienestar.jpeg" alt="">
                    <div class="dots">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>

                <div class="infos">
                    <span class="name">Manual</span>
                    <span class="lorem">Herramientas para activar el bienestar y la armonía.</span>

                    <a href="" class="btn-contact">Contáctame</a>
                </div>
            </div>
        </label>
        <label for="s3" id="slide3">

            <div class="card">
                <div class="image">
                    <img src="../../../assets/Imagenes/me honro ebook.jpeg" alt="">
                    <div class="dots">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>

                <div class="infos">
                    <span class="name">Ebook</span>
                    <span class="lorem">Un ebook con 14 ejercicios prácticos de autocuidado.</span>

                    <a href="https://wa.me/5492994233496" class="btn-contact">Contáctame</a>
                </div>
            </div>
        </label>
    </div>
</div>