
<h3>Mis productos</h3>

<div id="card-area">
    <div class="wrapper">
        <div class="box-area">

            <div class="box">
                <img src="../../../assets/Imagenes/buda.jpg" alt="">
                <div class="overlay">
                    <h4>Manual</h4>
                    <h4>de protección</h4>
                    <p>Diseñado para proteger su energía personal mediante prácticas
                        y símbolos de poder.
                    </p>
                    <a href="https://go.hotmart.com/A95173426O?dp=1">Ver más >></a>
                </div>
            </div>

            <div class="box">
                <img src="../../../assets/Imagenes/maceracion de sprays.jpg" alt="">
                <div class="overlay">
                    <h4>Sprays áuricos</h4>
                    <p>Elaborados con macerados de hierbas y flores, alquimizados con la energía de
                        los arcángeles.
                    </p>
                    <a href="https://wa.me/5492994233496">Contáctame</a>
                </div>
            </div>

            <div class="box">
                <img src="../../../assets/Imagenes/Manual de bienestar.jpg" alt="">
                <div class="overlay">
                    <h4>Manual de bienestar</h4>
                    <p>Recomendaciones y herramientas para activar el bienestar y la armonía.</p>
                    <a href="https://go.hotmart.com/I95172845C?dp=1">Ver más >> </a>
                </div>
            </div>

            <div class="box">
                <img src="../../../assets/Imagenes/amor propio.jpg" alt="">
                <div class="overlay">
                    <h4>Amor propio</h4>
                    <p>14 ejercicios prácticos de autocuidado, autoconocimiento y mucho más.</p>
                    <a href="https://wa.me/5492994233496">Contáctame</a>
                </div>
            </div>

        </div>
    </div>
</div>