
<h3>Mis servicios</h3>

<div id="card-area">
    <div class="wrapper">
        <div class="box-area">
            <div class="box">
                <img src="../../../assets/Imagenes/terapia holistica.jpg" alt="">
                <div class="overlay">
                    <h3>Terapia</h3>
                    <p>Meditación, reflexología facial, equilibro de chakras y más.</p>
                    <a href="https://wa.me/5492994233496">Contáctame</a>
                </div>
            </div>

            <div class="box">
                <img src="../../../assets/Imagenes/constelacion familiar.jpg" alt="">
                <div class="overlay">
                    <h3>Constelación</h3>
                    <h4>individual / grupal</h4>
                    <p>Entrevista, alineación, meditación, aperturas y más.</p>
                    <a href="https://wa.me/5492994233496">Contáctame</a>
                </div>
            </div>

            <div class="box">
                <img src="../../../assets/Imagenes/consulta holistica.jpg" alt="">
                <div class="overlay">
                    <h3>Coaching</h3>
                    <p>Sesión personalizada.</p>
                    <a href="https://wa.me/5492994233496">Contáctame</a>
                </div>
            </div>
                
            <div class="box">
                <img src="../../../assets/Imagenes/Linaje paterno.jpeg" alt="">
                <div class="overlay">
                    <h3>Constelación</h3>
                    <p>Sana la relación con tu padre y reconstruye tu linaje paterno.</p>
                    <a href="https://wa.me/5492994233496">Contáctame</a>
                </div>
            </div>


        </div>
    </div>
</div>