/* Títulos */
h3 {
    text-align: center;
    color: #fff;
    font-size: 30px;
    margin-top: 3rem;
}

h4{
    color: #fff;
}

p {
    margin-top: 1rem;
    color: #c5c5c5;
}



/* Contenedor */
.wrapper {
    padding: 10px 10%;
}

#card-area {
    padding: 50px 0;
}

.box-area {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

/* Carta principal */
.box {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 15px 40px 0px #923392;
    cursor: pointer;
    height: 380px;
    transition: transform 0.3s ease;
}

/* Imagen dentro de la carta */
img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: block;
    object-fit: cover;
    transition: transform 1s ease; /* Transición de zoom */
}

/* Overlay de la carta */
.overlay {
    height: 0;
    width: 100%;
    background: linear-gradient(transparent, #8e2dac 75%);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s ease; /* Transición para que el overlay suba suavemente */
}

.overlay h3 {
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 80%;
    font-size: 30px;
    letter-spacing: 2px;
}

.overlay a {
    margin-top: 10px;
    color: #d61385;
    text-decoration: none;
    font-size: 14px;
    background: #fff;
    border-radius: 50px;
    text-align: center;
    padding: 5px 15px;
    transition: 0.3s;
}

/* Zoom de imagen en hover */
.box:hover img {
    transform: scale(1.2); /* Zoom en la imagen */
}

.box:hover .overlay {
    height: 100%; /* Muestra el overlay completo */
}

.box:hover {
    transform: translateY(-10px); /* Efecto de elevación sin escalado */
}

.overlay a:hover {
    background-color: #d61385;
    color: #fff;
}
