
<h3>Mis servicios</h3>

<div id="card-area">
    <div class="wrapper">
        <div class="box-area">
            <div class="box">
                <img src="../../../assets/Imagenes/terapia holistica.jpg" alt="">
                <div class="overlay">
                    <h4>Terapia</h4>
                    <p>Equilibración energética e hipnosis de sanación.</p>
                    <a href="https://wa.me/5492994233496">Contáctame</a>
                </div>
            </div>

            <div class="box">
                <img src="../../../assets/Imagenes/constelacion familiar.jpg" alt="">
                <div class="overlay">
                    <h4>Constelación</h4>
                    <h4>individual / grupal</h4>
                    <p>Entrevista, alineación, meditación, aperturas y más.</p>
                    <a href="https://wa.me/5492994233496">Contáctame</a>
                </div>
            </div>

            <div class="box">
                <img src="../../../assets/Imagenes/consulta holistica.jpg" alt="">
                <div class="overlay">
                    <h4>Coaching</h4>
                    <p>Sesión personalizada.</p>
                    <a href="https://wa.me/5492994233496">Contáctame</a>
                </div>
            </div>
            <div class="box">
                <img src="../../../assets/Imagenes/arbol3.jpg" alt="">
                <div class="overlay">
                    <h4>Formación de constelaciones individuales</h4>
                    <p class="desc">10 módulos con modalidad presencial / online.</p>
                    <a href="https://wa.me/p/6811688118870074/5492994233496">Ver más >> </a>
                </div>
            </div>

        </div>
    </div>
</div>