<footer class="footer-container">
    <div class="footer-content">
      <div class="footer-column">
        <a href="https://github.com/Guiisho"><p>Web design by Guillermo Alarcón</p></a>
      </div>
      <div class="footer-column">
        <div class="social-icons">
            <a href="https://www.instagram.com/guiisho/"><i class="fi fi-brands-instagram"></i></a>
            <a href="https://wa.link/a794zo"><i class="fi fi-brands-whatsapp"></i></a>
            <a href="https://www.youtube.com/@guiisho"><i class="fi fi-brands-youtube"></i></a>
         </div>
      </div>
    </div>
  </footer>
  