.footer-container {
    background-color: rgba(0, 0, 0, 0.185); /* Fondo negro transparente */
    color: white; /* Texto en blanco */
    width: 100%;
    position: fixed; /* Fijado al fondo de la página */
    bottom: 0;
    left: 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap; /* Permite que las columnas se apilen en pantallas pequeñas */
  }
  
  .footer-column {
    flex: 1;
    min-width: 150px; /* Mínimo ancho para que las columnas no se hagan muy pequeñas */
    margin: 7px;
  }
  
  .footer-column p, a {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
  }

  .footer-column:hover{
    text-decoration: underline;
  }

  .social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    background-color: transparent;
    font-size: 1rem;
    margin: 0rem 1.3rem ;
    transition: 0.3s ease;
    color: #fff;
}


/* TAMAÑO DEL ICONO AL PASAR */
.social-icons a:hover{
    transform: scale(1.1) translateY(-1px); /* Al pasar el mouse se agranda con scale y sube con translateY */
    color: rgb(22, 182, 182);
}
  
  /* Estilos para pantallas pequeñas */
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column; /* Apilar columnas verticalmente en pantallas pequeñas */
    }
    .footer-column {
      margin-bottom: 1px; /* Espacio entre columnas cuando están apiladas */
    }
  }
  