

<nav *ngIf="isLoggedIn" class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand fs-4" routerLink="/home">Siankaan</a>
    <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="sidebar offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header text-white border-bottom">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Navegación</h5>
        <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body d-flex flex-column flex-lg-row p-4 p-lg-0">
        <ul class="navbar-nav justify-content-center align-items-center flex-grow-1 pe-3">
          <li class="nav-item mx-2">
            <a class="nav-link active" aria-current="page" routerLink="/home">Inicio</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link active" routerLink="/productos">Productos</a>
          </li>
          <li class="nav-item mx-2">
              <a class="nav-link active" routerLink="/servicios">Servicios</a>
            </li>
            <li *ngIf="isAdmin" class="nav-item mx-2">
              <a class="nav-link active" routerLink="/clientes">Clientes</a>
            </li>
            <li *ngIf="!isAdmin" class="nav-item mx-2">
              <a class="nav-link active" routerLink="/solicitar-turno">Mi turno</a>
            </li>
        </ul>

        <!-- Cerrar sesión -->

        <div class="d-flex flex-lg-row flex-column justify-content-center align-items-center gap-3">
          <a class="logout text-white text-decoration-none px-3 py-1 rounded-4" (click)="logOut()">Cerrar sesión</a>
        </div>
      </div>
    </div>
  </div>
</nav>
