
<h3>Mis talleres</h3>

<div id="card-area">
    <div class="wrapper">
        <div class="box-area">

            <div class="box">
                <img src="../../../assets/Imagenes/linaje materno.jpg" alt="">
                <div class="overlay">
                    <h4>La madre y el linaje materno</h4>
                    <p>Toma a tu madre y tu linaje materno para tomar la vida y la abundancia.</p>
                    <a href="https://wa.me/p/7514927325283017/5492994233496">Ver más >></a>
                </div>
            </div>

            <div class="box">
                <img src="../../../assets/Imagenes/amor propio2.jpg" alt="">
                <div class="overlay">
                  
                    <h4>Soy el amor de mi vida</h4>
                    <p>Trabajaremos con las 4 dimensiones del amor y ejercicios prácticos.</p>
                    <a href="https://wa.me/p/7924069690984781/5492994233496">Ver más >></a>
                </div>
            </div>

            <div class="box">
                <img src="../../../assets/Imagenes/niña interior.jpg" alt="">
                <div class="overlay">
                    <h4>Sanando mi niño interior</h4>
                    <p>Resuelve los bloqueos emocionales sanando a tu niño interior trabajando
                        con las 5 heridas principales.
                    </p>
                    <a href="https://wa.me/p/7901328799925411/5492994233496">Ver más >></a>
                </div>
            </div>

                     
            <div class="box">
                <img src="../../../assets/Imagenes/linaje paterno.jpg" alt="">
                <div class="overlay">
                    <h4>El padre y el linaje paterno</h4>
                    <p>Toma la fuerza de tu padre y la de tu linaje paterno.</p>
                    <a href="https://wa.me/p/7869129463126132/5492994233496">Ver más >></a>
                </div>
            </div>

            <div class="box">
                <img src="../../../assets/Imagenes/masaje facial.jpg" alt="">
                <div class="overlay">
                    <h4>Reflexología facial</h4>
                    <p>Desarrollarás esta técnica milenaria que estimula tu circulación energética
                        y flujo sanguíneo.
                    </p>
                    <a href="https://wa.me/p/4557984480990180/5492994233496">Ver más >></a>
                </div>
            </div>
            
            <div class="box">
                <img src="../../../assets/Imagenes/ciclos.jpg" alt="">
                <div class="overlay">
                    <h4>Cierre de ciclos con parejas</h4>
                    <p>Corte de lazos energéticos con antiguas parejas, basados en ejercicios sistémicos
                        y liberación de programas ancestrales.
                    </p>
                    <a href="https://wa.me/p/7086341424770433/5492994233496">Ver más >></a>
                </div>
            </div>

            <div class="box">
                <img src="../../../assets/Imagenes/gemoterapia.jpg" alt="">
                <div class="overlay">
                    <h4>Conociendo mi poder energético</h4>
                    <p>Conoce tus centros energéticos, aprende a equilibrarlos y activa tus chakras.</p>
                    <a href="https://wa.me/p/26766896226257019/5492994233496">Ver más >></a>
                </div>
            </div>

            <div class="box">
                <img src="../../../assets/Imagenes/Arbol.jpg" alt="">
                <div class="overlay">
                    <h4>Sanando e iluminando mí árbol</h4>
                    <p>Aprenderás a ver, reconocer, honrar y cortar patrones con tus ancestros.</p>
                    <a href="https://wa.me/p/7432138293550389/5492994233496">Ver más >></a>
                </div>
            </div>

            <div class="box">
                <img src="../../../assets/Imagenes/sprays elaboración taller.jpg" alt="">
                <div class="overlay">
                    <h4>Elaboración de sprays áuricos</h4>
                    <p>Aprenderás a hacer maceraciones, sprays áuricos con la energía de los arcángeles
                        y Agua de Florida.
                    </p>
                    <a href="https://wa.me/p/26656541110658661/5492994233496">Ver más >></a>
                </div>
            </div>

        </div>
    </div>
</div>