
<h3>Mis talleres</h3>

<div id="card-area">
    <div class="wrapper">
        <div class="box-area">

            <div class="box">
                <img src="../../../assets/Imagenes/Chakras.jpg" alt="">
                <div class="overlay">
                    <h3>Taller</h3>
                    <p>Conoce tus centros energéticos, aprende a equilibrarlos y activa tus chakras.</p>
                    <a href="https://wa.me/5492994233496">Contáctame</a>
                </div>
            </div>

            <div class="box">
                <img src="../../../assets/Imagenes/Ebook.jpeg" alt="">
                <div class="overlay">
                    <h3>Taller</h3>
                    <p>Conoce las 4 dimensiones del amor.</p>
                    <a href="https://wa.me/5492994233496">Contáctame</a>
                </div>
            </div>

            <div class="box">
                <img src="../../../assets/Imagenes/taller niño interior.jpeg" alt="">
                <div class="overlay">
                    <h3>Taller</h3>
                    <p>Resuelve los bloqueos emocionales sanando a tu niño interior trabajando
                        con las 5 heridas principales.
                    </p>
                    <a href="https://wa.me/5492994233496">Contáctame</a>
                </div>
            </div>
        </div>
    </div>
</div>