.wrapper{
    margin: 2rem;
    display: flex;
    height: 80vh;
    justify-content: center;
}

.wrapper2{
    margin: 2rem;
    display: flex;
}

.table{
    text-align: center;
}

th{
    color:  #d475d4;
}

h2{
    text-align: center;
    color: #fff;
    margin-top: 2.5rem;
}


button.button{
    border-radius: 15px;
    background-color: rgb(233, 16, 16);
    color: #fff;
    box-shadow: 0px 2px 4px 0px #530808;
    border-color: rgba(221, 15, 15, 0.877);
    transition: 0.3s ease;
}

button.button:hover{
    background-color: rgb(177, 36, 36);
}

.editButton{
    background-color: rgb(235, 180, 79);
    margin: 5px;
    border-radius: 15px;
    color: #fff;
    box-shadow: 0px 2px 4px 0px #fa8704;
    border-color: #fa8704;
    transition: 0.3s ease;
}

.editButton:hover{
    background-color: #fa8704;
}

button.btn{
    background-color: rgb(213, 34, 219);
    color: #fff;
    border-radius: 15px;
    transition: 0.3s;
    box-shadow: 0px 2px 4px 0px #fff;
}

button.btn:hover{
    background-color: #921492;
    transition: 0.3s;
}

button.btnAdd{
    padding: 3px;
    background-color: rgb(213, 34, 219);
    color: #fff;
    border-radius: 15px;
    border-color: rgb(213, 34, 219);
    transition: 0.3s;
}

button.btnClose{
    padding: 3px;
    background-color: rgb(223, 223, 223);
    color: black;
    border-radius: 15px;
    border-color: rgb(223, 223, 223);
    transition: 0.3s;
}

/* Quita las flechas del input type number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

button.btnAdd[disabled]{
    background-color: grey;
    border-color: grey;
}