
<h2>Clientes</h2>

<div class="wrapper">

<table class="table">
  <thead class="thead">
    <tr class="tr">
      <th>Usuario</th>
      <th>Hora</th>
      <th>Dia</th>
      <th>Servicio</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let turno of turnos">
      <td>{{ turno.usuario}}</td>
      <td>{{ turno.hora }}</td>
      <td>{{ turno.fecha }}</td>
      <td>{{ turno.servicio }}</td>
      <td>
        <button (click)="eliminarTurno(turno.id)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>

</div>