/* You can add global styles to this file, and also import other style files */
body, html{
    background: linear-gradient(60deg, rgb(243, 172, 183), rgb(217, 143, 219), rgb(228, 97, 233));
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
 }